<div class="container">
  <section *ngIf="dataWorkContact" class="contact-section">
    <div class="contact-section__info">
      <h2>{{dataWorkContact.contactTitle}}</h2>
      <p>{{dataWorkContact.contactDescription}}</p>
    </div>
    <button class="contact-section__btn" [routerLink]="['/contact']" routerLinkActive="router-link-active">Send a message</button>
  </section>
</div>
