@import "../../../../../styles/colors";
@import "../../../../../styles/responsive";
@import "../../../../../styles/fonts";
@import "../../../../../styles/sizes";

.contact-section {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    h2 {
        margin-bottom: 10px;
    }

    @include tablet {
        align-items: center;
        text-align: center;
        margin-top: 80px;
    }
}

.contact-section__btn {
    text-transform: uppercase;
    font-size: 0.6em;
    background-color: $primary-color;
    color: white;
    font-family: Baskerville-Regular;
    border: none;
    width: 62%;
    margin-top: 20px;
    padding: 15px 30px;
    cursor: pointer;

    &:hover {
        background-color: $secondary-color;
        transition: 0.2s;
    }
    @include tablet {
        font-size: 0.8rem;
        width: 40%;
        height: 60px;
        margin-top: 30px;
        padding: 10px 32px;
    }
}