<section class="container" *ngFor="let data of dataSounditi">
    <article class="sounditi-intro">
        <h2>{{data.projectTitle}}</h2>
        <p>{{data.projectDescription}}</p>
        <p>{{data.projectCopy}}</p>
        <div class="sounditi-img">
            <img src="{{data.projectImgPrincipal.url}}" alt="{{data.projectImgPrincipal.alt}}">
        </div>
        <h3>{{data.myRolTitle}}</h3>
        <p>{{data.myRolDescription}}</p>
    </article>
    <div class="line"></div>
    <article class="sounditi-view">
        <h3>{{data.viewTitle}}</h3>
        <div class="sounditi-img">
            <img src="{{data.viewImg.url}}" alt="{{data.viewImg.alt}}">
        </div>
        <p>{{data.viewCopy}}</p>
        <div class="sounditi-img">
            <img src="{{data.view2Img.url}}" alt="{{data.view2Img.alt}}">
        </div>
        <p>{{data.view2Copy}}</p>
        <p>{{data.conclusionCopy}}</p>
    </article>
    <div class="back-home-link">
        <a href="" [routerLink]="['/work']">Back to home -></a>
    </div>
</section>
