<div class="container">
    <section class="footer">
        <p>@ Valentina 2021</p>
        <div class="footer__rrss">
            <span><a href="https://gitlab.com/valenbertoni" class="fab fa-gitlab" target="blank"></a></span>
            <span><a href="https://www.instagram.com/valenbertonii/" class="fab fa-instagram" target="blank"></a></span>
            <span><a href="https://www.behance.net/valentinabertoni/projects" class="fab fa-behance" target="blank"></a></span>
        </div>
    </section>
</div>
