@import "../../../styles/colors.scss";
@import "../../../styles/responsive.scss";
@import "../../../styles/fonts.scss";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $primary-color;
  min-height: 70px;
  margin-top: 60px;

  p {
    margin-bottom: 20px;
  }

  @include tablet {
    flex-direction: row;
    justify-content: space-between;

    p {
      margin: 0;
    }
  }

  &__rrss {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .fab {
      font-size: 1.2em;
      margin: 0px 20px;

      &:hover {
        color: $secondary-color;
      }
    }

    a {
        text-decoration: none;
        &:link {
            color: $primary-color;
        }
        &:hover {
            color: $secondary-color;
        }
        &:visited {
            color: $primary-color;
        }
    }

  }
}
