<div *ngIf="dataWorkHero" class="container">
  <section class="section-hero">
    <article class="section-hero__txt-img">
      <div class="section-hero__txt">
        <h1>{{ dataWorkHero.heroTitle }}</h1>
        <p>{{ dataWorkHero.heroDescription }}</p>
      </div>
      <div class="section-hero__img">
        <img
          src="{{ dataWorkHero.heroImage.url }}"
          alt="{{ dataWorkHero.heroImage.alt }}"
        />
      </div>
    </article>
    <div class="scroll-downs__arrows"></div>
  </section>

  <div class="line section-hero__line"></div>

  <div class="projects">
    <ng-container *ngFor="let project of dataWorkHero.projects">
      <section class="section-projects" [routerLink]="[project.id]" routerLinkActive="active-nav-link">
        <div class="section-projects__img">
          <img src="{{ project.projectImg.url }}" alt="{{ project.projectImg.alt }}"/>
        </div>
        <p class="section-projects__category">{{ project.projectCategory }}</p>
        <h3>{{ project.projectTitle }}</h3>
        <p class="section-projects__description">
          {{ project.projectDescription }}
        </p>
      </section>
    </ng-container>
  </div>
  <div class="line"></div>
</div>
