@import "../../../../../styles/colors";
@import "../../../../../styles/responsive";
@import "../../../../../styles/fonts";
@import "../../../../../styles/sizes";

.section-hero {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.section-hero__txt {
  @include desktop {
    width: 48%;
  }

  h1 {
    margin-bottom: 30px;
  }
}

.section-hero__img {
  width: 100%;

  img {
    width: 100%;
  }

  @include tablet {
    display: flex;
    justify-content: flex-end;
  }
  @include desktop {
    width: 45%;
  }
}
.section-hero__txt-img {
  @include desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.section-hero__line {
  @include desktop {
    display: none;
  }
}
// seccion proyectos
.projects {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
  }
}
.section-projects {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  cursor: pointer;
  outline: none;

  &__img {
    width: 100%;
    margin-bottom: 10px;

    img {
      width: 100%;
    }
  }

  h3 {
    margin: 10px 0px;
  }

  @include tablet {
    margin-bottom: 80px;
  }
  @include desktop {
    width: 48%;
  }
}

// scroll down arrows
.scroll-downs__arrows {
  display: none;
  @include desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &::before {
      animation: bounce 1s ease infinite;
      color: $primary-color;
      content: "╲╱";
      font-size: 2rem;
      letter-spacing: -1px;
      line-height: 4rem;
      opacity: 0.8;
      text-align: center;
      width: 6rem;
    }
  }
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
}
