<div class="container">
 <section class="header-container">
   <div class="header-logo">
     <img src="{{ logo }}" alt="Logo Valentina" />
   </div>
 
    <ul class="nav-links">
        <li><a href="" [routerLink]="['/work']" routerLinkActive="active-nav-link">Work</a></li>
        <li><a href="" [routerLink]="['/about']" routerLinkActive="active-nav-link">About</a></li>
        <li><a href="" [routerLink]="['/contact']" routerLinkActive="active-nav-link">Contact</a></li>
    </ul>
 </section>
</div>
