@import "../../../styles/colors.scss";
@import "../../../styles/responsive.scss";
@import "../../../styles/fonts.scss";

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 80px;

    @include tablet {
        flex-direction: row;
    }
}

.header-logo {
    width: 50%;
    margin-bottom: 20px;

    @include tablet {
        margin-bottom: 0px;
    }
    @include desktop {
        width: 30%;
    }

    img {
        width: 100%;
    }
}

.nav-links {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    li {
        list-style: none;
        @include tablet {
            margin-left: 40px;
        }
    }

    a {
        text-decoration: none;
        color: $primary-color;
    }

    @include tablet {
        justify-content: flex-end;
        font-size: 1.2rem;
    }
}

.active-nav-link,
.nav-links li:hover {
  border-bottom: 3px solid $secondary-color;
  transition: 0.2s;
  font-weight: bold;
}