<section *ngFor="let data of dataAbout" class="container">
    <article class="about-hero">
        <h2>{{data.aboutTitle}}</h2>
        <p>{{data.aboutDescription}}</p>
        <p>{{data.aboutDescription2}}</p>
        <div class="about-hero__detail">
            <div class="about-hero__detail-expertise">
                <h3>{{data.expertiseTitle}}</h3>
                <ul>
                    <li>{{data.expertise[0]}}</li>
                    <li>{{data.expertise[1]}}</li>
                    <li>{{data.expertise[2]}}</li>
                    <li>{{data.expertise[3]}}</li>
                    <li>{{data.expertise[4]}}</li>
                </ul>
            </div>
            <div class="about-hero__detail-skills">
                <h3>{{data.skillsTitle}}</h3>
                <ul>
                    <li>{{data.skills[0]}}</li>
                    <li>{{data.skills[1]}}</li>
                    <li>{{data.skills[2]}}</li>
                    <li>{{data.skills[3]}}</li>
                    <li>{{data.skills[4]}}</li>
                    <li>{{data.skills[5]}}</li>
                </ul>
            </div>
        </div>
        
    </article>
    <div class="line"></div>

    <article class="about-experience">
        <h2>{{data.workExperienceTitle}}</h2>

        <div class="about-experience__block-container">
            <ng-container *ngFor="let experience of data.workExperienceBlock">
            <div class="block" [routerLink]="[experience.url]">
                <p>{{experience.year}}</p>
                <h4>{{experience.position}}</h4>
                <p>{{experience.company}}</p>
            </div>
        </ng-container>
        </div>

       <div class="back-home-link">
        <a href="" [routerLink]="['/work']">Back to home -></a>
       </div>
    </article>
</section>