@import "../../../../styles/responsive";
@import "../../../../styles/sizes";
@import "../../../../styles/fonts";
@import "../../../../styles/colors";

.about-hero {
  margin-top: 20px;
  @include tablet {
    margin-top: 80px;
  }
  p:first-child {
    margin-top: 30px;
  }
  p {
    margin-top: 10px;
  }
}

.about-hero__detail {
  margin: 40px 0px;

  ul {
    list-style: none;
  }

  h3 {
    margin-bottom: 10px;
  }
  li {
    margin-bottom: 5px;
  }
  @include tablet {
    display: flex;
    flex-direction: row;
  }
  &-expertise {
    margin-bottom: 40px;
    @include tablet {
      margin-right: 100px;
      margin-bottom: 0px;
    }
  }
}
.about-experience {
  &__block-container {
    display: flex;
    flex-direction: column;

    .block {
      margin-top: 35px;
      cursor: pointer;
      outline: none;

      h4 {
        margin: 10px 0px;
        color: $secondary-color;
      }
      p:first-child {
        font-weight: bold;
      }
      @include tablet {
        width: 45%;
        margin-top: 50px;
      }
    }

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
