@import './fonts';
@import './responsive';

body {
    font-family: Baskerville-Regular;
}

h1,h2,h3,h4 {
    font-family: Baskerville-Bold;
}

h1 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

p,li {
    line-height: 1.5;
}

@include tablet {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.3rem;
    }
    p,li,label {
        font-size: 1.2rem;
    }
}

@include desktop {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
}