<section class="container">
    <form action="" [formGroup]="formUser" (ngSubmit)="onSubmit()" class="contact-page__form">
        <div class="form-fielset__completeName">
            <fieldset class="contact-page__form-fieldset">
                <label for="name">First Name</label>
                <input type="text" id="name" formControlName="name">
            </fieldset>
            <fieldset class="contact-page__form-fieldset">
                <label for="lastname">Last Name</label>
                <input type="text" id="lastname" formControlName="lastname">
            </fieldset>
        </div>
        <fieldset class="contact-page__form-fieldset">
            <label for="mail">Email</label>
            <input type="text" id="mail" formControlName="mail">
        </fieldset>
        <fieldset class="contact-page__form-fieldset">
            <label for="company">Company</label>
            <input type="text" id="company" formControlName="company">
        </fieldset>
        <fieldset class="contact-page__form-fieldset">
            <label for="message">Message</label>
            <textarea type="text" id="message" formControlName="message"></textarea>
        </fieldset>
    
        <button type="submit" [disabled]="!formUser.valid" class="contact-page__form-btn">Send a message</button>
    </form>
    
    <div class="back-home-link">
        <a href="" [routerLink]="['/work']">Back to home -></a>
    </div>
</section>