@import '../../../../../styles/colors';
@import '../../../../../styles/responsive';
@import '../../../../../styles/fonts';
@import '../../../../../styles/sizes';

.contact-page__form {
    border: none;
    background-color: transparent;
    margin-bottom: 160px;

    @include desktop {
        margin-bottom: 200px;
    }
}

.contact-page__form-fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
        margin-bottom: 10px;
    }
    input {
        background-color: rgb(60 60 59 / 15%);
        border: none;
        border-bottom: 1px solid $secondary-color;
        height: 30px;

        &:focus {
            border: transparent;
        }
    }

    textarea {
        background-color: rgb(60 60 59 / 15%);
        border: none;
        border-bottom: 1px solid $secondary-color;
    }
}


.contact-page__form-btn {
    text-transform: uppercase;
    font-size: 0.6em;
    background-color: $primary-color;
    color: white;
    font-family: Baskerville-Regular;
    border: none;
    width: 62%;
    margin-top: 20px;
    padding: 15px 30px;

    &:hover {
        background-color: $secondary-color;
        transition: 0.2s;
    }
    @include tablet {
        font-size: 0.8rem;
        width: 40%;
        height: 60px;
        margin-top: 40px;
        padding: 10px 32px;
    }
}

@include desktop {
    .form-fielset__completeName {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        fieldset {
            width: 45%;
        }
    }
}