   <app-hero [dataWorkHero] ="dataWorkHero"></app-hero>
   <!-- <app-projects [dataWorkProjects]="dataWorkProjects"></app-projects> -->
   <app-contact [dataWorkContact]= "dataWorkContact"></app-contact>

