@import './styles/responsive';
@import './styles/colors';
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 80vw;
    margin: auto;
    padding-top: 20px;
}

body {
    min-height: calc(100vh - 80px - 70px);
}

.line {
    width: 100%;
    border-bottom: 1px solid $primary-color;
    margin: 60px 0px;
}

.back-home-link {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 100px; 
    @include desktop {
        font-size: 2rem;
    }

    a {
        text-decoration: none;
        color: $primary-color;
        font-family: Baskerville-Bold;
        cursor: pointer;
    }
    a:hover {
        color: $secondary-color;
    }
}