<section class="container">
  <div class="contact-page">
    <h2 *ngFor="let data of dataContact" class="contact-page__h2">
      {{ data.contactTitle }}
    </h2>
    <p class="contact-page__desc">You may contact me through</p>

   <article class="contact-page__links">
    <div class="contact-page__links-email">
       <h3>My email</h3>
      <a href="mailto: Bertoni@bootcamp-upgrade.com">Bertoni@bootcamp-upgrade.com</a>
    </div>
    <div class="contact-page__links-rrss">
       <h3>My social networks</h3>
      <ul>
         <li><a href="https://www.linkedin.com/in/valentinabertoni/" target="blank">LinkedIn</a></li>
         <li><a href="https://www.instagram.com/valenbertonii/" target="blank">Instagram</a></li>
         <li><a href="https://gitlab.com/valenbertoni" target="blank">Gitlab</a></li>
         <li><a href="https://www.behance.net/valentinabertoni/projects" target="blank">Behance</a></li>
      </ul>
    </div>
   </article>
  </div>

  <div class="bird-animation">
    <div class="bird-container bird-container--one">
      <div class="bird bird--one"></div>
    </div>

    <div class="bird-container bird-container--two">
      <div class="bird bird--two"></div>
    </div>

    <div class="bird-container bird-container--three">
      <div class="bird bird--three"></div>
    </div>

    <div class="bird-container bird-container--four">
      <div class="bird bird--four"></div>
    </div>
  </div>

  <div class="back-home-link">
    <a href="" [routerLink]="['/work']">Back to home -></a>
  </div>
</section>

<!-- <app-form-data-user></app-form-data-user> -->
