<section class="container gallery-global" *ngFor="let data of dataArtGallery">
    <article class="gallery-intro">
        <h2>{{data.projectTitle}}</h2>
        <p>{{data.projectDescription}}</p>
        <div class="gallery-img">
            <img src="{{ data.projectImgPrincipal.url }}" alt="{{ data.projectImgPrincipal.alt }}">
        </div>
        <h3>{{data.myRolTitle}}</h3>
        <p>{{data.myRolDescription}}</p>
    </article>
    <div class="line"></div>
    <article class="gallery-view1">
        <h3>{{data.viewTitle}}</h3>
        <div class="gallery-img">
            <img src="{{data.viewImg.url}}" alt="{{data.viewImg.alt}}">
        </div>
        <p>{{data.viewCopy}}</p>
    </article>
    <div class="line"></div>
    <article class="gallery-view2">
        <h3>{{data.view2Title}}</h3>
        <div class="gallery-img">
            <img src="{{data.view2Img.url}}" alt="{{data.view2Img.alt}}">
        </div>
        <p>{{data.view2Copy}}</p>
    </article>
    <div class="line"></div>
    <article class="gallery-final">
        <h3>{{data.conclusionTitle}}</h3>
        <p>{{data.conclusionCopy}}</p>
    </article>

    <div class="back-home-link">
        <a href="" [routerLink]="['/work']">Back to home -></a>
    </div>
</section>
