@import '../../../../../styles/colors';
@import '../../../../../styles/responsive';
@import '../../../../../styles/fonts';
@import '../../../../../styles/sizes';


.gallery-intro {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    @include desktop {
        margin-top: 80px;
    }

    p {
        margin-top: 10px;
    }
}

.gallery-img {
    width: 100%;
    margin: 30px 0px;

    img {
        width: 100%;
    }
}


.gallery-final {
    p { 
        margin-top: 10px;
    }
}